<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.cradlelabs.beta.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/digitalpinksheet/greet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>listServlet</servlet-name>
		<servlet-class>com.cradlelabs.beta.server.ListServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>listServlet</servlet-name>
		<url-pattern>/digitalpinksheet/list</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addServlet</servlet-name>
		<servlet-class>com.cradlelabs.beta.server.AddServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addServlet</servlet-name>
		<url-pattern>/digitalpinksheet/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateServlet</servlet-name>
		<servlet-class>com.cradlelabs.beta.server.UpdateServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>updateServlet</servlet-name>
		<url-pattern>/digitalpinksheet/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>blobsave</servlet-name>
		<servlet-class>com.cradlelabs.beta.server.BlobstorePreviewServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>blobsave</servlet-name>
		<url-pattern>/blobsave</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
